/*
 * Copyright (c) 2026
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        debug_layer {
            bindings = <
                &none    &none    &none    &none    &none    &none      &none    &none    &none    &none    &none    &none
                &none    &none    &none    &none    &none    &none      &none    &none    &none    &none    &none    &none
                &none    &none    &none    &none    &none    &none      &none    &none    &none    &none    &none    &none
                         &none    &none    &none    &none    &none      &kp A    &kp B    &kp C    &none    &none    &none    &none    &none
            >;
        };
    };
};
